				*{
    padding: 0;
    margin : 0;
    
}				
body{
    background:#f5f2e9;
}

header {
    margin: 0 auto;
    width: 100%;
    height: 200px;
   
}
h2
{
	text-align: center;
}
#admin-login
				{
					background-color:white;
					margin-top:70px;
					margin-left:300px;
					width:700px;
					padding:10px;
					border:solid;
					
				}
input[type=submit]
{
	background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
	width:200px;
	height:50px;
	margin-right:100px;
	margin-left:20%;
}
.cancel-button
{
	background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
	height:50px;
	width:100px;

}
input[type=text]
{
	margin-right:20px;
	height:20px;
}
input[type=password]
{
	margin-right:20px;
	height:20px;
}
label[for=username]
{
	font-size:20px;
	margin-left:50px;
}
label[for=password]
{
	font-size:20px;
	
}