*{
    padding: 0;
    margin : 0;
    
}
body{
    background: -moz-linear-gradient(269deg, rgba(224,224,224,1) 1%, rgba(224,224,224,1) 49%, rgba(235,235,235,1) 52%, rgba(239,239,239,1) 53%, rgba(255,255,255,1) 57%); /* ff3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, rgba(224,224,224,1)), color-stop(49%, rgba(224,224,224,1)), color-stop(52%, rgba(235,235,235,1)), color-stop(53%, rgba(239,239,239,1)), color-stop(57%, rgba(255,255,255,1))); /* safari4+,chrome */
background: -webkit-linear-gradient(269deg, rgba(224,224,224,1) 1%, rgba(224,224,224,1) 49%, rgba(235,235,235,1) 52%, rgba(239,239,239,1) 53%, rgba(255,255,255,1) 57%); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(269deg, rgba(224,224,224,1) 1%, rgba(224,224,224,1) 49%, rgba(235,235,235,1) 52%, rgba(239,239,239,1) 53%, rgba(255,255,255,1) 57%); /* opera 11.10+ */
background: -ms-linear-gradient(269deg, rgba(224,224,224,1) 1%, rgba(224,224,224,1) 49%, rgba(235,235,235,1) 52%, rgba(239,239,239,1) 53%, rgba(255,255,255,1) 57%); /* ie10+ */
background: linear-gradient(181deg, rgba(224,224,224,1) 1%, rgba(224,224,224,1) 49%, rgba(235,235,235,1) 52%, rgba(239,239,239,1) 53%, rgba(255,255,255,1) 57%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E0E0E0', endColorstr='#ffffff',GradientType=0 ); /* ie6-9 */
}
header {
    margin: 0 auto;
    width: 100%;
    height: 200px;
    
    
}
 #news a{
    text-decoration: none;
    color : beige;
}
 #news a:hover{
    
    color : red;
}

nav {
    margin : 10px 0px;
    
    width: 1100px;
    height: 80px;
   
  
}
#news{
     float : left;
    width: 200px;
    
     background-color: #212529;
    height: 70px;
    font-family: 'Indie Flower', cursive;
   
    text-align: center;
    font-size: 50px;
   
}
#flags {
     float : left;
    width: 900px;
    height: 70px;
    float : left;
    background-color: #212529;
}
#images{
    float : left;
    margin: 15px 20px;
}
.image{
    margin:0 15px;
}

#container{
     margin : 10px auto;
     width: 1100px;
    
}
main{
     margin : 10px auto;
     width: 1100px;
     height: auto;
     border: solid 2px;
    
}

footer{
    
    margin : 0px 0px;
    margin-top: 20px;

     height: auto;
    
}
article{
    height: auto;
    width: 90%;
    margin : 5px 20px;
    border-bottom: red 1px solid;
      font-family: 'Lato', sans-serif;

      
}
#avatar{
    float : left;
    width: 100px;
    border: solid 1px;
    text-align: center;
    
  
}
#description{
    float :  left;
    width: 75%;
    margin-left: 10px;
   
}

#description h1 {
    text-align: center;
}
#box_article{
    width: 50%;
    height: auto;
    float: left;
    border-right: dashed white 1px;
}
#table{
    margin-left: 3px;
    width: 49%;
    float: left;
   
    height: 300px;
}
#login-button
{
	height:40px;
	width:100px;
}
#registration-button
{
	height:40px;
	width:100px;
}

#logowanie
{
	position:fixed;
	margin-left:100px;
		margin-top:100px;
	font-size:12px;
	font-family:'Lato';
}
label {
display: block;
width: 260px;
padding: 10px 20px;
color: black;
font-size: 16px;
text-shadow: 0 0 1px silver;
}

/*Zaokrąglenie przycisku LOGIN*/
#panel, input[type="submit"] {
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    border-radius: 5px; 
}


		/*Okienko odpowiedzialne za przykrycie głownej strony*/
		.window-base {
			display: none;
			background-color: rgba(200, 200, 200, .8);
			width: 100%;
			height: 100%;
			position: fixed;
			top: 0;
			z-index: 9999;
			overflow: auto;
		}
			/*Okienko POP-UP*/
		.window-inside {
			background-color: white;
			padding: 20px;
			width: 500px;
			height:500px;
			margin: 0 auto;
			text-align: center;
			position: relative;
			margin-top: 100px;
			border: solid 2px;
		}
		/*Zamknięcie okienka*/
		.window-close {
			position: absolute;
			top: 0;
			right: 12px;
			font-size: 40px;
			cursor: pointer;
		}
